.button {
  margin-bottom: 1rem;
  font-size: large;
}

.button:last-child {
  margin-bottom: 0;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem; /* Relative to the root font-size */
  width: 100%; /* Relative to the parent width */
  max-width: 300px; /* Ensure it doesn't get too wide */
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.selectOption{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: center;
  margin: 0 auto;
  gap: 1rem;
  font-style: bold;
}

.introPage{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  margin: 0; /* Remove any margin */
  overflow: hidden; /* Prevent overflow */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
}