.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
    margin: 0; /* Remove any margin */
    overflow: hidden; /* Prevent overflow */
}

.return-link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
